<style>
	:host {
		display: block;
	}

	#lock {
		height: 100%;
		min-height: 5rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	#padlock-body {
		grid-area: 1 / 1 / 2 / 2;
		background-size: 100% 100%;
	}

	#shackle {
		grid-area: 1 / 1 / 2 / 2;
		background-size: 100% 100%;
		position: relative;
		transition: top 0.3s cubic-bezier(.19,1,.22,1);
		z-index: -1;
	}

	#shackle-click-zone {
		grid-area: 1 / 1 / 2 / 2;
		display: grid;
		grid-template-columns: 2.9fr 1fr 1fr 3.5fr 1fr 1fr 2.9fr;
		grid-template-rows: 0.4fr 1.3fr 1fr 4.6fr 9.3fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		position: relative;
		transition: top 0.3s cubic-bezier(.19,1,.22,1);
		z-index: 1;
	}

	#shackle-part-1 {
		grid-area: 3 / 2 / 5 / 4;
	}

	#shackle-part-2 {
		grid-area: 2 / 3 / 4 / 6;
	}

	#shackle-part-3 {
		grid-area: 3 / 5 / 5 / 7;
	} 
</style>

<div id="lock">
	<div id="padlock-body"></div>
	<div id="shackle"></div>

	<div id="shackle-click-zone">
		<div id="shackle-part-1" title="verrouiller"></div>
		<div id="shackle-part-2" title="verrouiller"></div>
		<div id="shackle-part-3" title="verrouiller"></div>
	</div>
</div>
