<style>
	:host {
		display: block;
	}

	#padlock-screen {
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px; 
	}

	#lcd-screen {
		 grid-area: 1 / 1 / 6 / 10;
	}

	#release-date {
		grid-area: 1 / 1 / 6 / 10;
		background-size: 100% 100%;
		z-index: 1;
	}

	#days { grid-area: 4 / 2 / 5 / 3; }
	#hours { grid-area: 4 / 4 / 5 / 5; }
	#minutes { grid-area: 4 / 6 / 5 / 7; }
	#wheels { grid-area: 4 / 8 / 5 / 9; } 
</style>

<div id="padlock-screen">
	<cookies-lcd-screen id="lcd-screen"></cookies-lcd-screen>
	<div id="release-date"></div>
</div>
